body {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Asap', sans-serif;
}
input {
	font-family: 'Asap', sans-serif;
}
.colophon {
	line-height: 150%;
	font-size: 12px;
}
td {
	vertical-align: top;
}
.dataframe {
	margin-right: 80px;
	width: 95%;
}